= form_for @portfolio do |f|
  - if @portfolio.errors.any?
    #error_explanation
      %h2= "#{pluralize(@portfolio.errors.count, "error")} prohibited this portfolio from being saved:"
      %ul
        - @portfolio.errors.full_messages.each do |message|
          %li= message

  = f.label( :portfolio_name, 'portfolio name*', {:title => "portfolio name"} ) 
  = f.text_field :portfolio_name
  %br
  = f.label( :portfolio_title, 'portfolio_title*', {:title => "portfolio title"} ) 
  = f.text_field :portfolio_title
  %br
  .actions
    = f.submit "&emsp;Save&emsp;".html_safe
  = f.label( :portfolio_xxx, "&emsp;".html_safe, {:title => "blank for submit button"} ) 


